.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 255, 255, 0.137);
  margin: 0 40%;
}

div#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 255, 255, 0.137);
  color: white;
  text-align: center;
}