@using RecipeBox.Models

 <h1>Welcome to Recipe Box!</h1>
   
<button>@Html.ActionLink("See Recipes", "Index", "Recipes")</button>
<button>@Html.ActionLink("See Tags", "Index", "Tags")</button>
<button>@Html.ActionLink("Register", "Register", "Account")</button>
<button>@Html.ActionLink("Log in", "Login", "Account")</button>