@model RecipeBox.Models.Tag

<h2>Add a new Tag</h2>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.TagName)
  @Html.TextBoxFor(model => model.TagName)

  <input type="submit" value="Add new Tag" class="btn btn-primary" />
}

<button>@Html.ActionLink("Show all Tags", "Index")</button>